<%= form_for [:admin, @post], :html => {:id => 'post_form'} do |f|%>
	<div class="row-fluid">
		<div class="span8">
			<div class="widget">
				<div class="widget-content">
						<%= f.label :title %>
						<%= f.text_field :title, :class => 'required'  %><br/>

						<%= f.label :content %>
						<%= f.text_area :content, :style=>'width:600px', :class => 'ckeditor' %><br/>

						<%= f.label :meta %>
						<%= f.text_area :meta, :style=>'width:600px; height:100px;' %><br/>
				</div>
			</div>
		</div>

		<div class="span4">
			<div class="widget">
				<div class="widget-title">
					Publishing
				</div>
				<div class="widget-content">
					Published at <%=@post.created_at || '???'%>
					<hr/>
					<%= submit_tag 'Publish', :class => 'btn btn-primary' %>
				</div>
			</div>
			<div class="widget">
				<div class="widget-title">
					Categories
				</div>
				<div class="widget-content">
					<%= f.label :categories %>
					<% Category.all.each do |category|%>
						<%= check_box_tag :category_ids, category.id, @post.categories.include?(category), :name => 'post[category_ids][]' %>
						<%= category.name%><br/>
					<% end %>
				</div>
			</div>
		</div>
	</div>
<% end %>

<% content_for :js do %>
<script>
	$(document).ready(function(){
	  $("#post_form").validate();
	});
</script>
<% end %>