<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	  <title>CMS 05</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

  <%= render :partial => 'shared/header' %>

  <div id="wrapper">
    <div id="content">
      <%= render :partial => 'render_info' %>
      <%= yield %>
    </div>
  </div>

  <%= render :partial => 'shared/footer' %>
 
  <%= javascript_include_tag "application" %>
  <%= yield :js %>
</body>
</html>
