<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	  <title>Admin - CMS 05</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
	  <%= stylesheet_link_tag    "admin", :media => "all" %>
  	<%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>

  <div class="navbar  navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Admin Access</a>
      </div>
    </div>
  </div>


  <div class="container">
  	<%= yield %>
  </div>

  <%= javascript_include_tag "admin" %>
	<%= yield :js %>
</body>
</html>
